<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="server=(local);uid=sa;pwd=123456;database=Sanitation.BPM" />
  </connectionStrings>
  <appSettings>
    <add key="dbname" value="Sanitation.BPM" />
    <add key="host" value="" />
    <!--数据库连接字符串加密-->
    <add key="useEncrypt" value="false" />

    <!--启用验证码-->
    <add key="showValidateCode" value="false" />

    <add key="CombresSectionName" value="combres" />

    <add key="TimeInterval" value="1000"/>
  </appSettings>
</configuration>