<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Senparc.Weixin" version="4.5.16" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="13.6.10" targetFramework="net45" />
  <package id="Senparc.Weixin.Open" version="1.6.4" targetFramework="net45" />
  <package id="Senparc.Weixin.QY" version="3.3.4" targetFramework="net45" />
</packages>