<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SanitationServer2.Properties.Settings.Sanitation_BPMConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Sanitation.BPM;User ID=sa;Password=123456;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
