<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="depts" value="70,6000;71,7000" />
    <add key="ip" value="127.0.0.1" />
    <add key="web_socket_port" value="5500" />
    <add key="max_logger_lines" value="1000" />
    <add key="threshold_heart_beat" value="30" />
    <!--数据库连接字符串加密-->
    <add key="useEncrypt" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="server=.;uid=sa;pwd=123456;database=CarWasher.BPM" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>